{
    "root": true,
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser"
    },
    "extends": [
        "@nuxtjs/eslint-config-typescript",
        "plugin:prettier/recommended",
        "prettier",
        "eslint-config-prettier"
    ],
    "plugins": ["prettier"],
    "rules": {
        "no-unused-vars": "off",
        "no-console": "warn",
        "no-undef": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "prettier/prettier": [
            "warn",
            {
                "endOfLine": "auto",
                "singleQuote": true,
                "semi": false,
                "trailingComma": "none",
                "arrayExpand": true,
                "singleAttributePerLine": true
            }
        ]
    }
}
