
@use 'sass:math';
@mixin isHeadLine {
  @apply font-bold text-neutral-800;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

@function pixels-to-rem ($pixels) {
  $remValue: math.div($pixels,$base-font-size) + rem; 
  @return $remValue;
}

@each $prefix , $font-size in $font-sizes {
  #{$prefix}{
    @include isHeadLine();
    font-size:  pixels-to-rem($font-size);
  }
}

p,li {
  @apply text-neutral-600 font-normal;
  font-size: 1rem;
  margin-bottom: 1rem;
}

ul{
  list-style:disc;
  padding-left: 1.5rem;

  li {
    margin-bottom: 0px;
  }
}
